---
---

@import "{{site.theme}}";
body {
  background: linear-gradient(#333231, #5c5a57);
}

#header {
  background: color: #de7255;
  border-bottom: none;
  box-shadow: none;
}

a {
  color: #de7255;
}
